.input {
  display: flex;
  margin: 1rem auto;

  margin: auto;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}
