.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  width: 100%;
}
.pagination > div:nth-child(2) {
  flex: 1;
  justify-content: center;
}

.changePageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.perPageSelectorContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.pagesContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  cursor: pointer;
  padding: 0.5rem;
}

.page:hover {
  background-color: var(--color-primary);
}

.selected {
  font-size: larger;
  font-weight: bold;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  border: none;
}

/* Style for the select element */
.rowPerPageSelect {
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .pagination {
    flex-direction: column;
    margin: 0.5rem;
    gap: 1rem;
  }

  .pagesContainer {
    gap: 0;
  }

  .perPageSelectorContainer {
    gap: 1rem;
    display: flex;
  }

  .changePageRow {
    gap: 0;
  }

  .page {
    padding: 0.25rem;
  }
}
