:root {
  --color-primary: rgba(96, 96, 255, 0.836);
  --color-white: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #efefefe8;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 0px;
}

/* Buttons */
.github-button {
  display: flex;
  align-items: center;
  background-color: #24292e;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.github-button:hover {
  background-color: #181c20;
}

.github-button > svg {
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
